{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dejavu</title>
</head>
<body>
    <nav class="p-5 bg-gray-700 rounded-b-3xl">
        <a class="w-32" href="{% url 'dejavu_app:home' %}">
            <img class="text-2xl w-14 h-14" src=" ../static/img/logo-sub.PNG "></img>
        </a>
    </nav>
    <form action="" method="POST">
        <div class="flex justify-around h-screen">
            <div class="mt-5 w-4/10 text-center">
                <h1 class="text-5xl mt-5">小説作成画面</h1>
                <div class="flex items-center justify-center text-xl mt-32 w-4/4 h-96 bg-gray-100">
                    <div class="flex-col">
                        <p>画像をアップロード</p>
                        <input class="ms-10" type="file" name="example" accept="image/jpeg, image/png">
                    </div>
                </div>
            </div>
            <div class="mt-24 w-6/10">
                <form action="">
                    <div class="mt-5">
                        <label class="text-4xl block" for="title">タイトル：</label>
                        {{ form.title|add_class:"bg-gray-100 p-2 w-9/12 rounded" }}
                    </div>
                    <div class="mt-5">
                        <label class="text-4xl block" for="synopsis">あらすじ：</label>
                        {{ form.synopsis|add_class:"bg-gray-100 border rounded-md p-2 w-full h-32" }}
                    </div>
                    <div class="mt-5">
                        <label class="text-4xl block" for="introduction">起承転結の起：</label>
                        {{ form.introduction|add_class:"bg-gray-100 border rounded-md p-2 w-full h-32" }}
                    </div>
                    <div class="flex items-center justify-center bg-stone-500 mt-12 text-2xl p-5 w-32 rounded-3xl mx-auto">
                        <button type="submit" class="text-white">投稿</button>
                        {% csrf_token %}
                    </div>
                </form>
            </div>
        </div>
    </form>
</body>
</html>