<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dejavu</title>
</head>
<body>
    <nav class="p-5 bg-green-900 shadow">
        <a class="w-32" href="{% url 'dejavu_app:home' %}">
            <img class="text-2xl w-14 h-14" src=" ../static/img/logo-sub.PNG "></img>
        </a>
    </nav>
    <div class="flex justify-around">
        <div class="text-center mt-5 w-4/10">
            <p class="text-5xl mt-5">プロフィール画面</p>
            <p class="text-4xl mt-32">- あなたが作成した小説 -</p>
        </div>
        <div class="mt-10 w-6/10">
            <h1 class="text-4xl mt-10">名前：〇〇〇〇</h1>
        </div>
    </div>
    <hr class="w-5/6 h-1 mx-auto bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
    <div class="grid grid-cols-4 gap-20 text-center m-14 flex-wrap inset-0 items-center justify-center">
        {% for item in dummy_top_data %}
        <div class="flex flex-col text-center flex-wrap inset-0 items-center justify-center">
            <p class="w-56 text-3xl font-sans break-words line-clamp-3 truncate">{{ item.title }}</p>
            <!-- thumbnail of book -->
            <img src="{{ item.image_url }}" alt="dummy_image" class="h-64 rounded-e-3xl w-56 object-cover">
            <button class="w-32 h-14 bg-neutral-700 -m-8 rounded-2xl text-gray-50">Read</button>
        </div>
        {% endfor %}
    </div>
</body>
</html>