<!DOCTYPE html><html>
    <head><link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Document</title>
    </head>
    <body><div class="v35_2"><div class="v145_3"></div>
    <span class="v145_5">Because of you</span><span class="v145_6">utyuu</span>
    <span class="v145_8">Synopsis</span>
    <span class="v145_9">There is a man. And he is worrying about his life.Because he want to drink water.</span>
    <span class="v145_10">There is a man. And he is worrying about his life.Because he want to drink water.</span>
    <div class="v145_16"></div>
    <div class="v145_26"></div><span class="v145_17">Development</span>
    <div class="v145_24"></div><span class="v145_25">Turn</span>
    <div class="v145_18"></div><span class="v145_23">Development</span>
    <div class="v145_21"></div><div class="v145_22"></div>
    <div class="v146_9"></div>
    <span class="v146_11">image</span>
    <span class="v145_14">Beginning</span>
</div>
</body>
</html>