{% extends 'base.html' %}

{% block title %}
<div class="h1 mt-5 pt-5"><font color="#5f9ea0">Create account</font></div>
{% endblock %}

{% block content %}
<div>
  <br>
  <form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    {% if field.label != "Account_id" %}
      {{ field.label }}
      {{ field }}
      {{ field.errors }}
    {% endif %}
    <br>
    {% endfor %}
    <div class="mt-3">
      <button type="submit" class="btn btn-primary">Create</button>
      <a href="{% url 'dejavu_app:home' %}" class="btn btn-secondary">Back</a>
    </div>
  </form>
</div>
{% endblock %}