<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dejavu</title>
</head>
<body>
    <nav class="p-5 bg-green-900 shadow">
        <h1 class="text-white">ロゴ</h1>
    </nav>
    <div class="ml-10 mt-5 text-4xl" >[タイトル]　の続きを書く</div>
    <div class="flex justify-around">
        <div>
            <div class="mt-10 w-96 h-96 bg-gray-100 flex items-center justify-center">
                <p>アップロードされた画像</p>
            </div>
        </div>

        <div>
            <div class="mt-10 text-4xl">あらすじ</div>
        </div>
    </div>
    <fotm>
        <div class="flex flex-col content-center text-center">

            <div class=" text-4xl mt-20">[タイトル](承)</div>
            <div class="mt-10">
                <textarea class="w-96 h-96 bg-gray-100" placeholder="ここに小説を書きましょう！"></textarea>
            </div>

            <div>
                <button type="submit" class="text-white bg-stone-500 hover:bg-stone-400 rounded-3xl p-3 w-60 mt-10">投稿</button>
            </div>
        </div>
    </fotm>
</body>
