<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap5のCDNを設定 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="p-4 bg-green-900 shadow">
        <h1 class="text-white">ロゴ</h1>
    </nav>
    <div class="flex flex-col justify-center text-center items-center mt-10">
        <h2 class="text-4xl"><span>{{ novel.title }}のコメントを書く</span></h2>
        <form method="POST" id="comment-form">
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="mt-6">
                {{ field.label_tag }}
                {{ field }}
                {{ field.error }}
            </div>
            {% endfor %}
            {% csrf_token %}
            <div class="">
                <button type="submit" class="flex items-center justify-center bg-stone-500 hover:bg-stone-600 mt-12 ml-20 text-white text-3xl py-3 w-32 rounded-3xl">投稿</button>
            </div>
        </form>
    </div>
</body>
