<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dejavu</title>
</head>

<h3 class="comment-title">コメント</h3>

<!--コメント-->
{% for comment in object.comment_set.all %}
<div class="comment-list">
    <div class='border-bottom'>{{ comment.user_name }}　{{ comment.created_at }}</div>
    <!--改行しないようlinebreaksを設定,URL要素に<a>要素を設定-->
    <div class='mt-2'>{{ comment.message | linebreaks | urlize }}</div>
</div>
{% empty %}
<p>コメントはありません</p>
{% endfor %}

<div>
    <a href="{% url 'dejavu_app:comments' 0 %}">コメントを書く</a>
</div>